<html>
<script type="text/javascript">
	function validation()
	{
		var alpha=/^[A-Z a-z]+$/;
		var num=/^[0-9]+$/;
		
		var password=document.getElementById('password')
		var confirmpassword=document.getElementById('confirmpassword')

		if(password.value.length==0)
			{
			alert('enter valid password')
			password.focus();
			return false;
			}
		else if(confirmpassword.value.length==0)
			{
			alert('enter valid password')
			confirmpassword.focus();
			return false;
			}
		else
			{
			return true;
			}}
	</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body{
        font-family:sans-serif; 
      }
      a{
        text-decoration: none;
      }
      #nav{
          font-family: monospace;
      }
      
    </style>

	<body>
		<!-- Navbar -->

<div id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spam Mail</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        
    </ul>
</div>
<!-- End Navbar -->
		<form method='post' action='{% url 'enternewAction' %}'>
			{% csrf_token %}
			{% comment %} <input type='hidden' name='username' value="{{user}}"> {% endcomment %}
			<div class="container w-25 mt-5">
			<table>
			<tr>
			<td>New Password</td>
			<td><input type='password' class="form-control m-2" name='password' id='password'></td>
			</tr>
			<tr>
			<td>Confirm Password</td>
			<td><input type='password' name='confirmpassword' class="form-control m-2" id='confirmpassword'></td>
			</tr>
			<tr>
			<td></td>
			<td><input type='submit' class="btn btn-primary m-2" value='submit' onclick="return validation()"></td>
			</tr>
			</table>
		</div>
		</form>
		<!-- Footer -->
		<div style="background-color:rgb(0, 0, 0); color: whitesmoke; font-size: large;" class="fixed-bottom text-center p-3">
			<footer>Copyright @ iamsfr 2022</footer>
		  </div>
    </body>
    {% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>