<html>
<script type="text/javascript">
	function validation()
	{
		var alpha=/^[A-Z a-z]+$/;
		var num=/^[0-9]+$/;
		
		var username=document.getElementById('username')
		

		if(username.value.length==0)
			{
			alert('enter valid username')
			username.focus();
			return false;
			}
		
		else
			{
			return true;
			}}
	</script>
	<title>Forgot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body{
        font-family:sans-serif; 
      }
      a{
        text-decoration: none;
      }
      #nav{
          font-family: monospace;
      }
      
    </style>
	<body>
		 <!-- Navbar -->

<div id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spam Mail</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        
    </ul>
</div>
<!-- End Navbar -->

		


<div class="container w-25 mt-5">
	<form method='post' action="{% url 'forgotAction' %}">
		{% csrf_token %}
			<div class="container">
				<div class="col-lg-12 col-sm-12">

				
			<div class="form-group">
				<label for="exampleInputEmail1">Username</label>
				<input type='text' class="form-control" name='username' id='username'>
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1">Password</label>
				<input type='text' class="form-control" name='password' id='password'>
			  </div>
				
				<td><input type='submit' class="btn btn-primary m-2" value='submit' onclick="return validation()"><td>		
			</tr>

		</table>
	</div>
</div>
	</form>
</div>
	 <!-- Footer -->
	 <div style="background-color:rgb(0, 0, 0); color: whitesmoke; font-size: large;" class="fixed-bottom text-center p-3">
		<footer>Copyright @ iamsfr 2022</footer>
	  </div>
	</body>
	</body>
	{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>