<!DOCTYPE html>
<html lang="en">
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#country").change(function(){
            var cid=$("#country").val();
            $.ajax({
                url:"{% url 'getstate1' %}",
                data:{'country_id':cid},
                success:function(data){
                $("#state").html(data);
            }
            })
            })
            })
            $(document).ready(function(){
            $("#season").change(function(){
            var sid=$("#season").val();
            $.ajax({
                url:"{% url 'getfactor' %}",
                data:{'season_id':sid},
                success:function(data){
                $("#factor").html(data);
            }
            })
            })
            })
       
        </script>
        <script type="text/javascript">
            function validation()
            {
                var alpha=/^[A-Z a-z]+$/;
                var num=/^[0-9]+$/;
        
            var season=document.getElementById("season");
            var factor=document.getElementById("factor");
            var country=document.getElementById("country");
            var state=document.getElementById("state");
            var months=document.getElementById("months");
            
        
        
                if(season.value.length==0)
                    {
                    alert("enter valid season")
                    return false;
                    }
                else if(factor.value.length==0)
                    {
                    alert("enter valid factor")
                    return false;
                    }
                else if(country.value.length==0)
                    {
                    alert("enter valid country")
                    return false;
                    }
                else if(state.value.length==0)
                    {
                    alert("enter valid state")
                    return false;
                    }
                else if(months.value.length==0)
                    {
                    alert("enter valid months")
                    return false;
                    }
               
                else{
                    return true;
                    }		
                    
                            
            }
        </script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeasonCountry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body{
        font-family:Verdana, Geneva, Tahoma, sans-serif; 
        background-color: rgb(235, 225, 225);
      }
      a{
        text-decoration: none;
      }
      
    </style>
</head>
<body>
    <!-- Navbar -->
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spam Mail</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'adminhome' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        
    </ul>
</div>
<!-- End Navbar -->
<div class="container w-25 mt-5">
    <div class="col-lg-12">
    <form action="{% url 'seasoncountryAction' %}" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <div class="btn-group dropright">
            <td>Season</td>
            <td><select class="btn btn-light dropdown-toggle m-2" name="season" id='season'>
                <option value="">--select--</option>
                {% for s in season %}
                <option value="{{s.id}}">{{s.name}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Factor Name</td>
            <td>
                <select class="btn btn-light dropdown-toggle m-2" name="factor" id='factor'>
                    <option value="">--select--</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Country</td>
            <td><select class="btn btn-light dropdown-toggle m-2" name="country" id='country' >
                <option value="">--select--</option>
                {% for c in country %}
                <option value="{{c.id}}">{{c.name}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>State</td>
            <td>
                <select class="btn btn-light dropdown-toggle m-2" name="state" id='state'>
                    <option value="">--select--</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Months</td>
            <td><select class="btn btn-light dropdown-toggle m-2" name="months" id='months'>
                <option value="">--select--</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct </option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select></td>
        </tr>
    </div>
        <tr>
            <td></td>
            <td>
                <input class="btn btn-info m-2" type="submit" value='submit' onclick="return validation()">
            </td>
        </tr>

    </table>
</form>
</div>
</div>
<!-- Footer -->
<div style="background-color:rgb(0, 0, 0); color: whitesmoke; font-size: large;" class="fixed-bottom text-center p-3">
    <footer>Copyright @ iamsfr 2022</footer>
  </div>
</body>
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
</html>